.product-container {
  margin-top: 3rem;
}
.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}
.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 250px;
  padding: 10px;
  position: relative;
}
img {
  opacity: 0.8;
  border-radius: 20px;
}
img:hover {
  opacity: 1;
  cursor: pointer;
}
.price {
  position: absolute;
  top: 60%;
  left: 30%;
  background-color: #ceb2e8;
  border-radius: 5px;
  width: 80px;
  text-align: center;
}
.info {
    position: absolute;
    bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.464);
    padding: 10px;
    border-radius: 10px;
    color: white;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */ 
    /* visibility: hidden; */
    opacity: 0;

}
.card:hover .info {
    /* visibility: visible; */
    opacity: 1;
    animation-name: title;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}


@keyframes title {
    from {
        transform: translateX(20%);
    } 
    to {
        transform: translateX(0);
    }
}


